{:deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  ;; control flow
  rop/rop                           {:mvn/version "0.4.1"}
  ;; encoding/decoding
  metosin/jsonista                  {:mvn/version "0.3.13"}
  ;; routing
  compojure/compojure               {:mvn/version "1.7.1"}
  ;; server/client
  http-kit/http-kit                 {:mvn/version "2.8.0"}
  ring/ring-json                    {:mvn/version "0.5.1"}
  ;; SQL(ite)
  org.flywaydb/flyway-core          {:mvn/version "9.10.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.994"}
  org.xerial/sqlite-jdbc            {:mvn/version "3.48.0.0"}
  com.github.seancorfield/honeysql  {:mvn/version "2.6.1270"}
  ;; specs
  metosin/malli                     {:mvn/version "0.18.0"}
  com.gfredericks/test.chuck        {:mvn/version "0.2.14"}
  ;; config
  aero/aero                         {:mvn/version "1.1.6"}}

 :paths
 [:clj-paths :resource-paths]

 :aliases
 {:clj-paths      ["src"]
  :resource-paths ["resources"]
  :test           {:exec-fn        kaocha.runner/exec-fn
                   :extra-paths    ["test" "test-resources"]
                   :extra-deps     {aysylu/loom                      {:mvn/version "1.0.2"}
                                    ;; test stubbing/mocking
                                    circleci/bond                    {:mvn/version "0.6.0"}
                                    ring/ring-mock                   {:mvn/version "0.4.0"}
                                    party.donut/datapotato           {:mvn/version "1.0.459"}
                                    party.donut/datapotato-next-jdbc {:mvn/version "1.0.459"}
                                    ;; assertions
                                    nubank/matcher-combinators       {:mvn/version "3.9.1"}
                                    ;; test running
                                    lambdaisland/kaocha              {:mvn/version "1.91.1392"}
                                    ;; debug/logging
                                    hashp/hashp                      {:mvn/version "0.2.2"}}
                   :resource-paths ["resources" "test-resources"]}
  :sqlite-to-postgres {:exec-fn     sqlite-to-postgres/-main
                       :extra-paths ["scripts"]
                       :extra-deps  {org.clojure/tools.cli {:mvn/version "1.1.230"}}}}}
