{;; Server
 :server
 {:address #or [#env ADDRESS "0.0.0.0"]
  :port    #or [#env PORT "8080"]}

 ;; DB
 :db
 {:dbtype  "sqlite"
  :dbname  #or [#env DB_SRC "resources/db/db.db"]}

 ;; defaults
 :default-count 20}
